#masthead {
    background-color: $color__bg-purple;
    color: #fff;
    @include padding-left-right;
    padding-top: 10px;
    padding-bottom: 10px;

    .header-wrapper {
        display: flex;
        align-items: center;
    }

    .site-branding {
        @include reset;

        .logo {

            svg {
                max-width: 150px;
            }
        }
    }

    nav {

        button {
            margin-left: auto;
        }

        .mobile-icon {
            // margin-left: auto;

        }
    }
}